@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 26px; /* Adjust the base font size as needed */
}

/* Optionally, apply specific font sizes to other elements */
h1, h2, h3 {
  font-size: 2rem; /* Example: 32px */
}

p {
  font-size: 1rem; /* Example: 16px */
}
