.carousel-image {
    position: relative;
    height: 400px; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
    border-radius: 20px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust overlay color and opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  
  .banner-text-container {
    text-align: center;
    position: absolute;
    bottom: 50px; /* Adjust as needed to position the text relative to the bottom */
    left: 50%;
    transform: translateX(-50%);
    width: 50%; /* Adjust width as needed */
    color: white;
    padding: 2px;
  }
  
  .carousel-text {
    font-size: 56px; /* Adjust font size */
    font-weight: bold; /* Optionally adjust font weight */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for better readability */
    padding: 10px; /* Adjust padding */
    border-radius: 10px; /* Rounded corners */
  }
  
  .carousel-subtext {
    font-size: 24px; /* Adjust font size */
     /* Semi-transparent background for better readability */
    padding: 5px; /* Adjust padding */
    border-radius: 5px; /* Rounded corners */
    margin-top: 5px; /* Adjust spacing between main text and sub-text */
  }
  